/* a css style sheet to the google project code along */

.main {
    margin-top: 150px;
    /* the easy way to center elemnts (to be specific the two buttons :) is by using text-align as follows) */
    /* text-align: center;  we are not going to be use that insted we'll use flexbox*/
}

.searchBar {
    width: 400px;
    line-height: 24px;
    display: block;
    margin-right: auto;
    margin-left: auto;

    border-radius: 24px;
    border: 1px solid #dfe1e5;
    ;

    padding: 10px 30px 10px 30px;
}

.logo-img {
    display: block;
    width: 300px;
    margin-bottom: 25px;
    margin-right: auto;
    margin-left: auto;
}

.btn {
    /* display:block; */
    margin: 30px 0px 0px 0px;

    font-size: 18px;
    font-weight: 14px;
    background-color: #dfe1e5;
    padding: 8px 16px 8px 16px;

    border: none;
    border-radius: 4px;
    margin-left: 4px;
    margin-right: 4px;

}

.flex-btn {
    display: flex;
    justify-content: center;

}
